flow.json
[{"id":"86ce889a.5370a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"17efa21e.aed17e","type":"ui_form","z":"86ce889a.5370a8","name":"","label":"","group":"bf4f5435.869408","order":1,"width":0,"height":0,"options":[{"label":"Pregnancies","value":"Pregnancies","type":"number","required":true,"rows":null},{"label":"Glucose","value":"Glucose","type":"number","required":true,"rows":null},{"label":"BloodPressure","value":"BloodPressure","type":"number","required":true,"rows":null},{"label":"SkinThickness","value":"SkinThickness","type":"number","required":true,"rows":null},{"label":"Insulin","value":"Insulin","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"DPFunction","value":"DPFunction","type":"number","required":true,"rows":null},{"label":"Age","value":"Age","type":"number","required":true,"rows":null}],"formValue":{"Pregnancies":"","Glucose":"","BloodPressure":"","SkinThickness":"","Insulin":"","BMI":"","DPFunction":"","Age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":300,"wires":[["11dd4341.d069ed","92bd9929.8c3938"]]},{"id":"11dd4341.d069ed","type":"debug","z":"86ce889a.5370a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":380,"wires":[]},{"id":"92bd9929.8c3938","type":"function","z":"86ce889a.5370a8","name":"pre-token","func":"global.set(\"rd\",msg.payload.Pregnancies)\nglobal.set(\"ad\",msg.payload.Glucose)\nglobal.set(\"ms\",msg.payload.BloodPressure)\nglobal.set(\"st\",msg.payload.SkinThickness)\nglobal.set(\"st\",msg.payload.Insulin)\nglobal.set(\"st\",msg.payload.BMI)\nglobal.set(\"st\",msg.payload.DPFunction)\nglobal.set(\"st\",msg.payload.Age)\n\nvar apikey=\"WCuB1HFcH8spW3xpG-jBHDfCuivhMCeRJ4BvbNcFxP65\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":240,"wires":[["34df0f70.4a4a1"]]},{"id":"34df0f70.4a4a1","type":"http request","z":"86ce889a.5370a8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":452.00000381469727,"y":284.00000286102295,"wires":[["56b5d5e2.576b5c","2ebc7e9a.7e6de2"]]},{"id":"56b5d5e2.576b5c","type":"debug","z":"86ce889a.5370a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":340,"wires":[]},{"id":"2ebc7e9a.7e6de2","type":"function","z":"86ce889a.5370a8","name":"Pre Prediction","func":"var Pregnancies = global.get(\"Pregnancies\")\nvar Glucose = global.get(\"Glucose\")\nvar BloodPressure = global.get(\"BloodPressure\")\nvar SkinThickness = global.get(\"SkinThickness\")\nvar Insulin = global.get(\"Insulin\")\nvar BMI = global.get(\"BMI\")\nvar DPFunction = global.get(\"DPFunction\")\nvar Age = global.get(\"Age\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[[\"Pregnancies\",\"Glucose\",\"BloodPressure\", \"SkinThickness\",\"Insulin\",\"BMI\",\"DPFunction\",\"Age\"]],\"values\": [[Pregnancies,Glucose,BloodPressure, SkinThickness,Insulin,BMI,DPFunction,Age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":644.0000076293945,"y":236.0000021457672,"wires":[["10ca40d2.76e4ff"]]},{"id":"10ca40d2.76e4ff","type":"http request","z":"86ce889a.5370a8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/5dba2a71-8c05-4b39-a123-47fd343e2ec7/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":260,"wires":[["215db63f.35d0da","b453ace0.53c85"]]},{"id":"215db63f.35d0da","type":"debug","z":"86ce889a.5370a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1022.9999914169312,"y":344.00000381469727,"wires":[]},{"id":"bd8a5318.7df01","type":"inject","z":"86ce889a.5370a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":140,"wires":[["92bd9929.8c3938"]]},{"id":"79dd93ca.9a93bc","type":"debug","z":"86ce889a.5370a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":853.9999885559082,"y":127.0000057220459,"wires":[]},{"id":"b453ace0.53c85","type":"function","z":"86ce889a.5370a8","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][1][0];\nif(msg.payload >0.5){\n    msg.payload=\"Higher Chances of Dibetic\"\n}\nif(msg.payload <0.5)\n{\n     msg.payload=\"Lower Chances of Dibetic\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":699.6000595092773,"y":168.00000190734863,"wires":[["79dd93ca.9a93bc","b0b72afa.c22f48"]]},{"id":"b0b72afa.c22f48","type":"ui_text","z":"86ce889a.5370a8","group":"bf4f5435.869408","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"col-center","x":817.6000366210938,"y":401.20001220703125,"wires":[]},{"id":"bf4f5435.869408","type":"ui_group","z":"","name":"Dibetes Prediction","tab":"a6439a17.753e78","order":1,"disp":true,"width":"6","collapse":false},{"id":"a6439a17.753e78","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
